/*Frist Mobile*/

body{
    width: 100%;
    height: 100vh;
    background-image: url('img/background01.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 20px;
}

form h1{
    margin-bottom: 5%;
}

#container{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    backdrop-filter: blur(30px);
    padding: 10px;
}

.input-box{
    display: flex;
    position: relative;
    margin-bottom: 7%;
}

.input-box input{
    width: 100%;
    height: 5vh;
    border: solid 1px;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0.555);
    font-size: 1.2rem;
    padding: 10px 5px;
    background-color: transparent;
    color: white;
    padding: 10px;
}

.input-box i{
    position: absolute;
    left: 90%;
    top: 20%;
    font-size: 1.3rem;
}

.input-box:hover i{
    display: none; /*deixar o icon invisivel durante a interação do usuario para colocar o input*/
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4vh;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6%;
    margin-top: 10%;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor:pointer;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-top: 25px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}





/*Responsividade p/ desktop*/
@media (min-width: 1024px) {
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        min-width: 100vw;
        background: url(img/background01.jpg);
        background-size: cover;
        user-select: none;
    }

    #container {
        width: 40%;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 10px;
        color: white;
        padding: 30px 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        backdrop-filter: blur(50px);
    }

    .container h1 {
        font-size: 36px;
        text-align: center;
    }

    .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 2px solid rgba(0, 0, 0, .2);
        border-radius: 40px;
        font-size: 1rem;
        color: white;
        padding: 20px 45px 20px 20px; /* Ordem: cima, direita, baixo, esquerda */
    }

    .input-box input::placeholder {
        color: rgb(211, 211, 211);
    }

    .input-box i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }

    .remember-forgot {
        display: flex;
        justify-content: space-between;
        margin: -15px 0 15px;
    }

    .remember-forgot label input {
        accent-color: #fff;
        margin-right: 5px;
    }

    .remember-forgot a {
        text-decoration: none;
        color: white;
    }

    .remember-forgot a:hover {
        text-decoration: underline;
        color: rgb(0, 255, 13);
    }

    .login {
        width: 100%;
        height: 50px;
        background-color: white;
        border: none;
        border-radius: 40px;
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        margin-top: 25px;
    }

    .login:hover {
        background-color: transparent;
        border: 2px solid rgba(0, 0, 0, .2);
        color: white;
        transition: 0.5s;
    }

    .register-link {
        font-size: 14px;
        text-align: center;
        margin: 20px 15px;
    }

    .register-link a {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }

    .register-link a:hover {
        text-decoration: underline;
        color: rgb(0, 255, 13);
    }
}